var config = {};

config.API_URL = "https://eth-rinkeby.alchemyapi.io/v2/<your_key>";
config.PRIVATE_KEY = "owner_private_key";
config.PUBLIC_KEY = "owner_address";
config.PIN_URL = "ipfs_pin"; // for example https://bafybeid22jva43qmafgl3ygh2sw2m6bzbasdg4cb4l6qv56r22iidz2jyi.ipfs.infura-ipfs.io/image
config.CONTRACT_ADDRESS = "address -> after run deployee contract";

module.exports = config;
